.message{data: {id: message.id}}
  .message__info
    %p.message__info--talker 
      = message.user.name
    %p.message__info--date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__text
    - if message.content.present?
      %p.message__text
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

