.main__header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom:solid 1px #eee; 
    &__left-box {
      padding-top: 35px;
        &--group-name {
          font-size: 20px;
          color: #333333;
          padding-bottom: 15px;
        }
        &--group-member {
          font-size: 12px;
          color: $gray-text-color;
        }
    }
    &--edit-btn {
      height: 40px;
      line-height: 40px;
      color: $light-blue-color;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px $light-blue-color;
      right: 40;
    }
}