.side__groups {
  background-color: $side-color;
  height: 100vh;
  width: calc(100% - 40px);
  padding: 0 20px;
  overflow: scroll;
}
.group {
  background-color:$side-color;
  padding: 20px 0;
    &__name {
      @include font-style(15px,$white-text-color);
      font-weight: bold;
      padding-bottom: 5px;
    }
    &__message {
      @include font-style(11px,$white-text-color);
      font-weight: bold;
    }
}