.side__header {
  background-color: $side-header-color;
  height: 100px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  padding: 0 20px;
    &__box {
      background-color: $side-header-color;
      width: 100%;
      display: flex;
      justify-content: space-between;
        &--name {
          background-color: $side-header-color;
          @include font-style(16px,$white-text-color);
          font-weight: bold;
        }
        &--menu {
          background-color: $side-header-color;
          display: flex;
          list-style: none;
            &__new-group {
              margin-left: 0.3rem;
              display: inline-block;
            }
            &__edit-user {
              margin-left: 0.3rem;
              display: inline-block;
            }
        }
    }
}

.fa.fa-edit {
  color: white;
}
.fa.fa-cog {
  color: white;
}
