.side__text {
  background-color: $side-color;
  width: calc(100% - 40px);
  padding: 20px;
    &__top {
      background-color: $side-color;
      color: $side-text-color;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 5px;
    }
    &__middle {
      background-color: $side-color;
      color: $side-text-color;
      font-size: 11px;
      font-weight: bold;
    }
}