.side__group {
  background-color: $side-color;
  height: 100vh;
  width: calc(100% - 40px);
  padding: 20px 20px 0px;
    &__top {
      background-color:$side-color;
      padding-bottom: 40px;
      &--name {
        color: $white-text-color;
        font-size: 15px;
        font-weight: bold;
      }
      &--message {
        color: $white-text-color;
        font-size: 11px;
      }
    }
    &__middle {
      background-color: $side-color;
      &--name {
        color: $white-text-color;
        font-size: 15px;
        font-weight: bold;
      }
      &--message {
        color: $white-text-color;
        font-size: 11px;
      }
    }
}